.hidden {
    visibility: hidden;
}

.datePicker {
    width: 100%;
}

.description {
    margin-top: 24px !important;
}

.dialog {
    max-width: 400px !important;
}

.oauth-btn {
    margin: 16px;
}