.positive {
    color:red !important;
}

.negative {
    color:blue !important;
}

.degrees {
    font-weight: 700;
}

.iconValuePair {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    height: 28px;
    width: 76px;
    white-space: nowrap;
}

.MuiCardContent-root {
    margin-top: -8px;
}

.hourlyWeather {
    max-height: 320px;
}

.iconText {
    position: relative;

    span {
        position: absolute;
        top: 4px;
        left: calc(50% + -16px);
        transform: translateX(-50%);
        font-size: 10px;
        font-weight: 700;
    }
}

.bigIcon {
    height: 48px;
    width: 48px;
}

.card {
    margin-right: 8px;
}